*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
scroll-behavior:smooth;
}


body{
background:#07070f;
color:white;
overflow-x:hidden;
}



.background{

position:fixed;
inset:0;
z-index:-5;

background:
radial-gradient(circle at 20% 20%,#ff4da655,transparent 25%),
radial-gradient(circle at 80% 30%,#ff149355,transparent 25%),
radial-gradient(circle at 50% 80%,#ff69b455,transparent 30%);

animation:bg 10s infinite alternate;

}



@keyframes bg{

from{
transform:scale(1);
}

to{
transform:scale(1.3);
}

}




.hero{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

flex-direction:column;

text-align:center;

padding:20px;

}



.name{

font-size:clamp(90px,18vw,250px);

font-weight:900;

color:white;

text-shadow:

0 0 10px white,
0 0 30px #ff4da6,
0 0 70px #ff4da6,
0 0 120px #ff4da6;


animation:floating 4s infinite;

}



@keyframes floating{

50%{
transform:translateY(-25px);
}

}




.subtitle{

font-size:30px;

margin-top:20px;

}



.btn{

margin-top:40px;

padding:18px 45px;

border:none;

border-radius:50px;

background:#ff4da6;

color:white;

font-size:20px;

cursor:pointer;

box-shadow:0 0 30px #ff4da6;

transition:.4s;

}



.btn:hover{

transform:scale(1.1);

}





.section{

padding:100px 10%;

}




.glass{

background:rgba(255,255,255,.08);

border-radius:35px;

padding:45px;

backdrop-filter:blur(20px);

box-shadow:0 0 40px #ff4da633;

}




.title{

text-align:center;

font-size:50px;

color:#ff85c2;

margin-bottom:40px;

}



.message{

font-size:28px;

line-height:2.3;

text-align:center;

min-height:200px;

}





.counter{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:25px;

}



.box{

background:#111827;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 0 25px #ff4da633;

}



.box h2{

font-size:60px;

color:#ff4da6;

}





.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}



.photo{

height:450px;

overflow:hidden;

border-radius:30px;

}



.photo img{

width:100%;

height:100%;

object-fit:cover;

transition:.8s;

}



.photo:hover img{

transform:scale(1.15);

}





.surprise{

text-align:center;

font-size:30px;

}



#secret{

margin-top:30px;

color:#ff85c2;

animation:pop .8s;

}



@keyframes pop{

from{

transform:scale(0);

}

to{

transform:scale(1);

}

}





footer{

padding:60px;

text-align:center;

font-size:25px;

}





.heart{

position:fixed;

top:-50px;

z-index:10;

animation:fall linear forwards;

pointer-events:none;

}



@keyframes fall{

to{

transform:
translateY(110vh)
rotate(360deg);

opacity:0;

}

}